.homePage {
    margin-top: 4%;
}

.caroDiv {
    /* position: absolute; */
    /* position: relative; */
    /* animation-name: example; */
    /* animation-duration: 4s; */
    z-index: -1;
}

.homeCaro {
    width: 100%;
}

.caroText {
    background-color: black;
    opacity: 0.6;
    width: 28%;
    font-weight: 400;
    font-size: 45px;
    line-height: 50px;
    text-align: center;
    color: #FFFFFF;
    text-shadow: 0px 0px 1px #000000;
    padding: 3%;
    position: absolute;
    top: 25rem;
    left: 15%;
    animation-name: example2;
    /* animation-delay: 1s; */
    animation-duration: 3s;
    /* animation-fill-mode: forwards; */

}

.head1 {
    font-weight: 650;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    margin: 2% 0 0 0;
}


@keyframes example2 {


    25%,
    40% {
        opacity: 0.4;
        transform: translateX(-100%) scale(0.5);
    }

    25%,
    40% {
        opacity: 0.4;
        transform: translateX(-100%) scale(0.7);
    }

    25%,
    40% {
        opacity: 1;
        pointer-events: auto;
        transform: translateX(50%) scale(1);
    }
}

.readBtn {
    display: flex;
    flex-wrap: wrap;
    margin: 0 10rem 0 10rem;
    justify-content: center;
}

.col1 {
    width: 33%;
}

.btn1 {
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
    background: #FBABAB;
    border-radius: 20px;
    width: 400px;
    padding: 3px 0 3px 0;
}

.btn1:hover {
    cursor: pointer;
}

.divGall {
    margin: 1% 12% 0 12%;
}

.homeCaro2 {
    width: 100%;
    z-index: -1 !important;

}

.states1 {
    display: flex;
    flex-wrap: wrap;
    margin: 3% 12% 3% 12%;
}

.statesCol {
    width: 25%;
    /* background-color: blue; */
}

.count {
    font-weight: 700;
    font-size: 80px;
    line-height: 94px;
    text-align: center;
}

.countDes {
    font-weight: 400;
    font-size: 40px;
    line-height: 47px;
    /* identical to box height */
    text-align: center;
    color: #727272;
}

.walkv {
    display: flex;
    flex-wrap: wrap;
    margin: 1% 10% 0 10%;
}

.walkCol {
    width: 50%;
}

.walkCard {
    margin: 1%;
    padding: 1%;
    width: 98%;
    height: 25rem;
}

.aboutSec {
    background-color: #D9D9D9;
    width: 80%;
    margin: 2.5% 0% 1% 0%;
    text-align: center;
    padding: 1% 10% 2% 10%;
}

.aboutCont {
    font-weight: 400;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    padding: 1% 5% 2% 5%;
}

.blCont {
    font-weight: 600;
    font-size: 22px;
    line-height: 25px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.cont {
    display: flex;
    flex-wrap: wrap;
}

.cont1 {
    width: 50%;
}

.cont2 {
    width: 50%;
}

.modal1 {
    top: 50%;
    left: 50%;
    right: auto;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 50%;
}

.mclose {
    float: right;
}

.mhead {
    text-align: center;
    font-weight: 500;
    font-size: 30px;
    line-height: 36px;
    margin: 0% 0% 3% 0%;
}

.minp {
    display: flex;
    flex-wrap: wrap;
    width: 65rem;
}

.minp1 {
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    width: 22%;
    padding: 0 0 0 2%;
}

.minp2 {
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    width: 72%;
    background: #F1F1F1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
}

.minp3 {
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    width: 22%;
    padding: 0 0 0 2%;
}

.minp4 {
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    width: 28%;
    background: #F1F1F1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
}

.minp5 {
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    width: 13%;
    padding: 0 0 0 2%;
}

.minp6 {
    font-weight: 450;
    font-size: 24px;
    line-height: 36px;
    margin: 0;
    width: 28%;
    background: #F1F1F1;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    border: 1px solid grey;
    outline: none;
}

.subBtn {
    background: #199A2E;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    border: none;
    color: #FFFFFF;
    padding: 7px 6rem 7px 6rem;
}

.subBtn:hover {
    opacity: 0.8;
    cursor: pointer;
}



@media screen and (max-width: 1100px) {

    .gall1 {
        width: 90%;
    }

    .readBtn {
        display: flex;
        flex-wrap: wrap;
        margin: 0 5% 0 5%;
        justify-content: center;
    }

    .btn1 {
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        background: #FBABAB;
        border-radius: 20px;
        width: 94%;
        padding: 3px 0 3px 0;
    }

    .caroText {
        background-color: black;
        opacity: 0.6;
        width: 28%;
        font-weight: 400;
        font-size: 25px;
        line-height: 29px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 0px 1px #000000;
        padding: 3%;
        position: absolute;
        top: 12rem;
        left: 15%;
        animation-name: home_example2__2-0Ws;
        /* animation-delay: 1s; */
        animation-duration: 3s;
        /* animation-fill-mode: forwards; */
    }

    .divGall {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    .walkCard {
        margin: 1%;
        padding: 1%;
        width: 98%;
        height: 14rem;
    }

    .states1 {
        display: flex;
        flex-wrap: wrap;
        margin: 3% 5% 3% 5%;
    }

    .count {
        font-weight: 700;
        font-size: 60px;
        line-height: 94px;
        text-align: center;
    }

    .countDes {
        font-weight: 400;
        font-size: 25px;
        line-height: 28px;
        /* identical to box height */
        text-align: center;
        color: #727272;
    }





}




@media screen and (max-width: 500px) {
    .homePage {
        margin-top: 16%;
        z-index: -1 !important;
    }


    .caroDiv {
        /* position: absolute; */
        /* position: relative; */
        /* animation-name: example; */
        /* animation-duration: 4s; */
        z-index: -1 !important;
    }

    .homeCaro {
        width: 100%;
        z-index: -1 !important;
    }

    .caroText {
        background-color: black;
        /* opacity: 0.6; */
        width: 35%;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        text-align: center;
        color: #FFFFFF;
        text-shadow: 0px 0px 1px #000000;
        padding: 1%;
        position: absolute;
        top: 7.2rem;
        left: 15%;
        animation-name: example2;
        /* animation-delay: 1s; */
        animation-duration: 4s;
        /* animation-fill-mode: forwards; */

    }

    @keyframes example2 {


        5%,
        40% {
            opacity: 0.3;
            transform: translateX(-100%) scale(0.5);
        }

        25%,
        40% {
            opacity: 0.4;
            transform: translateX(-100%) scale(0.7);
        }

        25%,
        40% {
            opacity: 1;
            pointer-events: auto;
            transform: translateX(40%) scale(1);
        }

    }

    .head1 {
        font-weight: 600;
        font-size: 24px;
        line-height: 29px;
        text-align: center;
        margin: 2% 0 0 0;
    }

    .readBtn {
        display: flex;
        flex-wrap: wrap;
        margin: 2px 5rem 2px 5rem;
        justify-content: center;
    }

    .col1 {
        width: 100%;
    }

    .btn1 {
        font-weight: 500;
        font-size: 18px;
        line-height: 36px;
        background: #FBABAB;
        border-radius: 20px;
        width: 200px;
        padding: 3px 0 3px 0;
        margin: 3px 0 2px 0;
    }

    .gall1 {
        width: 90%;
    }

    .divGall {
        width: 90%;
        margin: 0 5% 0 5%;
    }

    .homeCaro2 {
        width: 100%;
        z-index: -1 !important;

    }

    .statesCol {
        width: 50%;
        /* background-color: blue; */
    }

    .count {
        font-weight: 700;
        font-size: 40px;
        line-height: 47px;
        text-align: center;
    }

    .countDes {
        font-weight: 400;
        font-size: 13px;
        line-height: 15px;
        /* identical to box height */
        text-align: center;
        color: #727272;
    }

    .walkv {
        display: flex;
        flex-wrap: wrap;
        margin: 1% 5% 0 5%;
    }

    .walkCol {
        width: 100%;
    }

    .walkCard {
        margin: 1%;
        padding: 1%;
        width: 98%;
        height: 12rem;
    }

    .aboutSec {
        background-color: #D9D9D9;
        width: 80%;
        margin: 2.5% 0% 1% 0%;
        text-align: center;
        padding: 2% 10% 2% 10%;
    }

    .aboutCont {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        padding: 2% 5% 3% 5%;
    }

    .blCont {
        font-weight: 600;
        font-size: 18px;
        line-height: 21px;
        text-align: center;
        color: rgb(0, 0, 0);
    }

    .cont {
        display: flex;
        flex-wrap: wrap;
    }

    .cont1 {
        width: 100%;
    }

    .cont2 {
        width: 100%;
    }

    .cont1Btn {
        background: #FBABAB;
        border-radius: 20px;
        width: 50%;
        margin: 3% 0 0 0%;
        color: black;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 10px 10px 10px 10px;
    }

    .cont2Btn {
        background: #FBABAB;
        border-radius: 20px;
        width: 50%;
        margin: 3% 0% 0 0;
        color: black;
        font-weight: 500;
        font-size: 18px;
        line-height: 21px;
        padding: 10px 10px 10px 10px;
    }


    .minp {
        display: flex;
        flex-wrap: wrap;
        width: 100%;
    }

    .minp1 {
        font-weight: 450;
        font-size: 17px;
        line-height: 17px;
        margin: 0;
        width: 20%;
        padding: 0 0 0 2%;
    }

    .minp2 {
        font-weight: 450;
        font-size: 17px;
        line-height: 17px;
        margin: 0;
        width: 74%;
        background: #F1F1F1;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
        border: 1px solid grey;
        outline: none;
    }

    .minp3 {
        font-weight: 450;
        font-size: 17px;
        line-height: 17px;
        margin: 0;
        width: 30%;
        padding: 0 0 0 2%;
    }

    .minp4 {
        font-weight: 450;
        font-size: 17px;
        line-height: 17px;
        margin: 0 0 5% 0;
        width: 64%;
        background: #F1F1F1;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;

    }

    .minp5 {
        font-weight: 450;
        font-size: 17px;
        line-height: 17px;
        margin: 0;
        width: 20%;
        padding: 0 0 0 2%;
    }

    .minp6 {
        font-weight: 450;
        font-size: 17px;
        line-height: 17px;
        margin: 0;
        width: 74%;
        background: #F1F1F1;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 4px;
    }

    .subBtn {
        background: #199A2E;
        box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
        border-radius: 10px;
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
        border: none;
        color: #FFFFFF;
        padding: 7px 3rem 7px 3rem;
    }





}